.footer

  .footer__lower
    .footer__lower__logo
      = link_to root_path do
        = image_tag "mw_logo.png", alt: "Music Works logo", class: 'mw-logo'
    .footer__lower__copyright
      &copy; MusicWorks all rights reserved.