.matter-create-page

  .matter-create-page__header
    = render 'matters/header'

  .breadcrumb
    - breadcrumb :create_matter
    = breadcrumbs separator: " &rsaquo; "

  %h2 案件依頼の作成が完了しました！

  = link_to root_path do
    .matter-create-page__top-link
      TOPページへ戻る

  .matter-create-page__footer
    = render 'matters/footer'