@mixin link {
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  padding: 0.8em 1em;
  background: $blue;
  line-height: 1em;
  width: 15%;
  margin: 0 auto 3em;
}

@mixin link-orange {
  border-radius: 3px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  padding: 0.8em 1em;
  background: $orange;
  color: #ffffff;
  line-height: 1em;
  width: 15%;
  margin: 0 auto 2.5em;
}



.matter-create-page {
  color: $gray;

  h2 {
    margin-top: 3em;
    margin-bottom: 3em;
    text-align: center;
  }

  &__top-link {
    @include link-orange;
    color: #fff;
    width: 14%;
  }

  &__top-link:hover {
    background-color: $blue;
  }

  &__footer {
    position: fixed;
    bottom: 0;
    width: 100%;
  }

}