@mixin triangle-light-blue {
  border-top: 1.8em solid transparent;
  border-right: 0em solid transparent;
  border-bottom: 1.8em solid transparent;
  border-left: 1.8em solid $light-blue;
}

@mixin triangle-blue {
  border-top: 1.8em solid transparent;
  border-right: 0em solid transparent;
  border-bottom: 1.8em solid transparent;
  border-left: 1.8em solid $blue;
}

@mixin content {
  display: flex;
  margin-bottom: 0.2em;
}

@mixin title {
  font-weight: bold;
  font-size: 0.9em;
}

@mixin required {
  margin: auto 0 auto 0.4em;
  padding: 1px 3px;
  font-size: 0.6em;
  border-radius: 3px;
  color: #fff;
  background-color: red;
}

@mixin norequired {
  margin: auto 0 auto 0.4em;
  padding: 1px 3px;
  font-size: 0.6em;
  border-radius: 3px;
  color: #fff;
  background-color: gray;
}

@mixin input-form {
  width: 100%;
  height: 2em;
  padding-left: 0.5em;
  border-radius: 5px;
  border: solid 1px $light-gray;
  font-size: 0.9em;
}

@mixin select-form {
  height: 2em;
  background-color: #fff;
  border: solid 1px $light-gray;
  font-size: 0.9em;
}

@mixin submit {
  display: inline-block;
  border-radius: 5px;
  font-size: 0.9em;
  text-align: center;
  cursor: pointer;
  padding: 0.5em 1em;
  background: $orange;
  color: #ffffff;
  line-height: 1em;
  transition: .3s;
  border: 2px solid $orange;
}

@mixin submit-hover {
  color: #fff;
  background: $blue;
  border: 2px solid $blue;
}




.new-regist-step2 {
  text-align: center;
  color: $gray;
  &__header {
    background-color: $very-light-gray;
    padding: 1em 0;
    @include shadow;
    position: fixed;
    width: 100%;
  }
  &__breadcrumb {
    font-size: 0.9em;
    padding: 10em 0 0 0;
    margin-bottom: 3em;
    display: flex;
    justify-content:center;
    &__step1 {
      background-color: $light-blue;
      color: #fff;
      padding: 1em;
      width: 10em;
    }
    &__triangle1 {
      @include triangle-light-blue;
      background-color: $blue;
    }
    &__step2 {
      background-color: $light-blue;
      color: yellow;
      padding: 1em;
      width: 10em;
    }
    &__triangle2 {
      @include triangle-light-blue;
      background-color: $blue;
    }
    &__done {
      background-color: $blue;
      color: $light-gray;
      padding: 1em;
      width: 10em;
    }
  }

  &__annotation {
    width: 49%;
    margin: 0 auto 2.5em;
    font-size: 0.8em;
    text-align: left;
  }



  &__form {
    background-color: $very-light-gray;
    width: 27%;
    margin: 0 auto;
    padding: 2em 13em;
    &__prefecture {
      @include content;
      &__title {
        @include title;
      }
      &__norequired {
        @include norequired;
      }
    }
    &__prefecture-form {
      margin-bottom: 2em;
      select {
        width: 98%;
        @include select-form;
      }
    }
    &__introduction {
      @include content;
      &__title {
        @include title;
      }
      &__norequired {
        @include norequired;
      }
    }
    &__introduction-form {
      margin-bottom: 2em;
      .introduction-form {
        @include input-form;
        height: 12em;
      }
    }
    &__performance {
      @include content;
      &__title {
        @include title;
      }
      &__norequired {
        @include norequired;
      }
    }
    &__performance-form {
      margin-bottom: 2em;
      .performance-form {
        @include input-form;
        height: 12em;
      }
    }
    &__portfolio {
      @include content;
      &__title {
        @include title;
      }
      &__norequired {
        @include norequired;
      }
    }
    &__portfolio-form {
      margin-bottom: 2em;
      .portfolio-form {
        @include input-form;
      }
    }
    &__skill {
      @include content;
      &__title {
        @include title;
      }
      &__norequired {
        @include norequired;
      }
    }
    &__skill-form {
      margin-bottom: 2em;
      text-align: left;
      font-size: 0.9em;
      &__skill-form {
        @include input-form;
      }
    }

    &__actions {
      .submit-button {
        @include submit;
      }
      .submit-button:hover {
        @include submit-hover;
      }
    }
  }
}
