応募した案件の一覧
%br

%ul.applications-list
  - @applications.each do |application|
    %li.applications-list__content
      .applications-list__content__title
        = link_to "案件名：#{application.matter.title}", "/matters/#{application.matter.id}", method: :get

- if @applications.blank?
  ※まだ応募した案件はありません。

%br
%br
= link_to "TOPページへ戻る", root_path