依頼を出した案件の一覧

%ul.matters-list
  - @matters.each do |matter|
    %li.matters-list__content
      .matters-list__content__title
        = link_to "案件名：#{matter.title}", "/matters/#{matter.id}", method: :get

%br
= link_to "TOPページへ戻る", root_path